@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .term-badge {
    @apply text-base bg-white border shadow-md hover:scale-105 transition-transform font-semibold;
    padding: 0.5rem 1rem !important;
    border-radius: 0.75rem !important;
    max-height: 2.5rem !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }
}

